cats/tests/__pycache__/01.cpython-39.pyc
cats/tests/__pycache__/02.cpython-39.pyc
cats/tests/__pycache__/03.cpython-39.pyc
cats/tests/__pycache__/04.cpython-39.pyc
cats/tests/__pycache__/05.cpython-39.pyc
cats/tests/__pycache__/06.cpython-39.pyc
cats/tests/__pycache__/07.cpython-39.pyc
cats/tests/__pycache__/08.cpython-39.pyc
cats/tests/__pycache__/09.cpython-39.pyc
cats/tests/__pycache__/10.cpython-39.pyc
cats/tests/__pycache__/EC.cpython-39.pyc
lab/lab05.zip
lab/lab07/.ok_history
lab/lab07/.ok_messages
lab/lab07/.ok_storage.bak
lab/lab07/.ok_storage.dat
lab/lab07/.ok_storage.dir
lab/lab07/Untitled-1.py
lab/lab07/__pycache__/lab07.cpython-39.pyc
lab/lab07/tests/inheritance-abc.py
lab/lab07/tests/link.py
lab/lab07/tests/__pycache__/__init__.cpython-39.pyc
lab/lab07/tests/__pycache__/inheritance-abc.cpython-39.pyc
lab/lab07/tests/__pycache__/link.cpython-39.pyc
lab/lab10/.ok_history
lab/lab10/.ok_messages
lab/lab10/.ok_storage.bak
lab/lab10/.ok_storage.dat
lab/lab10/.ok_storage.dir
lab/lab10/lab10.py
lab/lab10/__pycache__/lab10.cpython-39.pyc
lab/lab10/tests/using_pair.py
lab/lab10/tests/__pycache__/__init__.cpython-39.pyc
lab/lab10/tests/__pycache__/using_pair.cpython-39.pyc
lab/lab10/lab10.py
lab/lab10/tests/using_pair.py
