cats/tests/__pycache__/01.cpython-39.pyc
cats/tests/__pycache__/02.cpython-39.pyc
cats/tests/__pycache__/03.cpython-39.pyc
cats/tests/__pycache__/04.cpython-39.pyc
cats/tests/__pycache__/05.cpython-39.pyc
cats/tests/__pycache__/06.cpython-39.pyc
cats/tests/__pycache__/07.cpython-39.pyc
cats/tests/__pycache__/08.cpython-39.pyc
cats/tests/__pycache__/09.cpython-39.pyc
cats/tests/__pycache__/10.cpython-39.pyc
cats/tests/__pycache__/EC.cpython-39.pyc
